.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover { background: #383; }

div {
  height: 100%;
  width: 100%;
  border: 1px solid #4CAF50;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}


body {
 background-image: url("https://media.512pixels.net/downloads/macos-wallpapers-thumbs/27-Golden-Gate-thumb-dark.png");
 background-color: #cccccc;
 background-size: 1920px 1080px;
}


h1 {
  color: white;
}

input[type=text] {
  border: 2px solid #3CBC8D;
  border-radius: 12px;
}

input[type=submit] {
  background-color: #3CBC8D;
  color: white;
}